ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.repoCardsContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.repoCard {
  margin-top: 3em;
}
