#root {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

ul {
  list-style: none;
}

.repoCardsContainer {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.repoCard {
  margin-top: 3em;
}

.repoCard:hover {
  background-color: grey;
}

#photoCV {
  width: 100%;
}

.contactLogo {
  width: 15%;
  margin-right: 5%;
  padding: 0;
}

.contactContainer {
  display: inline-flex;
  align-items: center;
  width: 120%;
}

.contactParagraph {
  margin-top: 7%;
  font-size: 1em;
  width: 100%;
}

.presentationAboutMe {
  font-size: 1em;
  padding-left: 5%;
  padding-right: 5%;
}

.logo-container {
  margin-top: 5%;
}

.ITlanguageLogo {
  margin-top: 3%;
  margin-right: 3%;
  width: 30%;
}

.languageLogo {
  width: 10%;
}

.certificationLink {
  text-decoration: none;
}

.certification_name {
  margin-left: 1%;
}

.certification_logo {
  width: 30%;
}

.certificationsCards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.certification_page_h2 {
  text-align: center;
}

.certification_container {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
