html {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
  color: "#B9BABA";
}

#root {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.body {
  width: 100%;
  margin-top: 1%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

ul {
  list-style: none;
}

.repoCardsContainer {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.repoCard {
  margin-top: 3em;
}

#photoCV {
  width: 100%;
}

.contactLogo {
  width: 10%;
  margin-right: 2%;
}

.contactContainer {
  display: flex;
  align-items: start;
  justify-content: start;
  width: 100%;
}

.contactParagraph {
  font-size: 1em;
  width: 100%;
  text-align: left;
}

.presentationAboutMe {
  font-size: 1em;
  padding-left: 5%;
  padding-right: 5%;
}

.logo-container {
  margin-top: 5%;
}

.ITlanguageLogo {
  margin-top: 3%;
  margin-right: 3%;
  width: 5%;
}

.languageTableContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.languageTable {
  width: 70%;
}

.flagColumn {
  width: 50%;
}

.languageLogo {
  width: 20%;
}

.table-striped > tbody > tr:nth-child(odd) {
  background-color: #d6eaf8;
}

.table-striped > tbody > tr:nth-child(even) {
  background-color: #ebf5fb;
}

.table-hover > tbody > tr:nth-child(odd):hover {
  background-color: #ebf5fb;
}

.table-hover > tbody > tr:nth-child(even):hover {
  background-color: #d6eaf8;
}

.certificationLink {
  text-decoration: none;
}

.certification_name {
  margin-left: 1%;
}

.certification_logo {
  width: 30%;
}

.certificationsCards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.certification_page_h2 {
  margin-top: 3%;
  text-align: center;
}

.certification_container {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.navBarContainer {
  width: 100%;
  background-color: #d6eaf8;
  position: relative;
  font-size: 1.4em;
  display: flex;
  justify-content: center;
}

.navbar-brand {
  font-size: 2em;
  color: #148ebb;
}

.presentation_paragraph {
  width: 70%;
  margin-top: 3%;
}
